
<div class="box">
    <video controls  #videoPlayer class="video-js vjs-theme-forest mx-auto"> 
            <source src="https://exams-media-stage.s3.amazonaws.com/video_interview/158608c5-6868-4850-8baf-f1da3d041bb2/c096a631-2e2e-45d3-8c21-8aaae9f4c714/2750a408-43fb-4db8-8f22-d2de9b625d99/502d73c0-13ac-4055-b7f0-c321cfee6f0d/6/b363976c-9b7f-4ad8-9be5-ad02af082104/video/video_answer" />
    </video>
</div>

<app-nav></app-nav>

<router-outlet>
    
</router-outlet>

 <app-auth-modal *ngIf="!(auth.isAuthticatedWithDelay$ | async)"></app-auth-modal>
